---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import {
  BackgroundImage,
  ImageSupportDetection,
} from "astro-imagetools/components";

import socratesImage from './images/socrates.jpg';


const metadata = {
  title: 'Dialexicon',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      { text: 'Learn more', href: '#features' },
      {
        variant: 'primary',
        text: 'Journal',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
    image={{ src: './images/socrates.jpg', alt: 'Death of Socrates' }}
  >
    <Fragment slot="title">
      <span class=text-7xl> Welcome to </span> <span class="text-blue-700 dark:text-white highlight font-extrabold text-7xl"> Dialexicon</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden md:inline leading-relaxed">
        <span class="font-semibold"> A platform for youth to engage in philosophy. </span>     
        <br/>   
        <span class="text-purple-700 text-sm"> Dialexicon = <span class="text-red-600"> dialectic (Hegel/Plato: 'philosophical discourse') </span> + <span class="text-blue-600"> lexicon ('vocabulary')</span></span>
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Projects"
    title="How to Get Involved with Dialexicon"
    subtitle="We're focused on ways to bring philosophical education to high-school students."
    items={[
      {
        title: 'Journal',
        description:
          'An annual journal for high-school students to publish their philosophical essays. We publish all kinds of essays, from metaphysics to contemporary ethics.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Podcast',
        description:
          'A podcast where we interview philosophers and discuss their work. We also interview our published authors to discuss their work and philosophy.',
        icon: 'tabler:components',
      },
      {
        title: 'Community',
        description:
          'A Discord server where we discuss philosophy and host FAQs about upcoming journal prompts and submissions. Open to all who are interested!',
        icon: 'tabler:list-check',
      },
      {
        title: 'Resources',
        description:
          'We provide a collection of online resources for youth to learn philosophy. Ever-in-progress, feel free to contact us for any suggestions or features.',
        icon: 'tabler:rocket',
      },
    ]}
  >
    <!-- <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment> -->
  </Features>
  

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-purple-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2> -->

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Essays from the 2022 Dialexicon Journal"
    information={`The 2022 Dialexicon Journal published articles covering all sorts of philosophical topics and current events,
    from student authors based all around the world. Celebrating our third year of running the journal.
                `}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Questions about submitting to the journal & how to get involved."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why was Dialexicon founded?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'Who can submit to the Dialexicon Journal?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'When will I know the results?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "Who will be adjudicating my paper?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'Can I answer my own prompt?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'How do I get involved with Dialexicon',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <!-- <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Submit to the Journal',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Interested in submitting to the journal?

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page.
    </Fragment>
  </CallToAction> -->
</Layout>
