---
import Layout from '~/layouts/PageLayout.astro';
import FAQs from "~/components/widgets/FAQs.astro";
import Hero from '~/components/widgets/Hero.astro';
import Steps from '~/components/widgets/Steps.astro';

const metadata = {
  title: 'Dialexicon',
  ignoreTitleTemplate: true,
};
---
<body style="background-color:rgb(234, 229, 223)"></body>
<Layout metadata={metadata}>

    <div style="font-family:'Times New Roman', Times, serif">

    <div style=
    `background-image: url(./src/images/writing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh`>

    <div class="flex flex-row gap-4 absolute right-14 top-10 font-regular text-white">
        <a href="./" class="text-xl hover:italic" style="font-family:serif">About </a>
        <a href="./journal" class="text-xl hover:italic" style="font-family:serif"> Journal </a>
        <a href="./submit" class="text-xl hover:italic" style="font-family:serif"> Submit </a>
    </div>
    
    <span class="text-white font-bold text-8xl absolute left-24 top-20" style="font-family:serif"> Submit</span>
    <span class="text-white text-2xl absolute left-24 top-48" style="font-family:serif"> <span class="italic"> Dialexicon</span> is accepting submissions. </span>

  </div>
    <Steps
        title="How do I submit my essay?"
        items={[
        {
            title: 'Step 1: <span class="font-medium">Read over the prompts.</span>',
            description:
            "You can find the prompts on our website.",
            icon: 'tabler:package',
        },
        {
            title: 'Step 2: <span class="font-medium">Write a 1200-1500 word philosophical essay on one of our prompts (or pick your own!).</em>',
            description:
            "Visit our guidelines + see past papers for exemplars.",
            icon: 'tabler:letter-case',
        },
        {
            title: 'Step 3: <span class="font-medium">Email your paper to us.</span>',
            description:
            'Email your paper to dialexiconjournal@gmail.com, with the subject "Dialexicon Submission" and attach the submission form!',
            icon: 'tabler:paint',
        },
        {
            title: 'Congratulations, your paper is in!',
            icon: 'tabler:check',
        },
        ]}
        image={{
        src: './src/images/the-philosophers-master-of-the-judgment-of-solomon.jpg',
        alt: 'Steps image',
        }}
    />

    <FAQs
        title="Frequently Asked Questions"
        subtitle="Answers to your questions about submitting to the journal & how to get involved."
        tagline="FAQs"
        classes={{ container: 'max-w-6xl' }}
        items={[
        {
            title: 'When will submissions open?',
            description:
            "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
        },
        {
            title: 'Who can submit to the Dialexicon Journal?',
            description:
            'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
        },
        {
            title: 'When will I know the results?',
            description:
            "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more.",
        },
        {
            title: "Who will be adjudicating my paper?",
            description:
            "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
        },
        {
            title: 'Can I answer my own prompt?',
            description:
            "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
        },
        {
            title: 'How do I get involved with Dialexicon?',
            description:
            "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
        },
        ]}
    />
</div>
</Layout>