---
import Layout from '~/layouts/PageLayout.astro';
import FAQs from "~/components/widgets/FAQs.astro";
import Hero from '~/components/widgets/Hero.astro';
import Steps from '~/components/widgets/Steps.astro';

const metadata = {
  title: 'Dialexicon',
  ignoreTitleTemplate: true,
};
---
<body class="light-theme" style="background-color:#F9F6EE; overflow-x:hidden;">
<Layout metadata={metadata}>

    <div style="font-family:'Times New Roman', Times, serif">

    <div style=
    `background-image: url(/images/submit.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh`>

    <div class="flex flex-row gap-4 absolute right-14 top-10 font-regular text-white">
        <a href="/" class="text-xl hover:italic" style="font-family:serif">Home </a>
        <a href="./about" class="text-xl hover:italic" style="font-family:serif">About </a>
        <a href="./journal" class="text-xl hover:italic" style="font-family:serif"> Journal </a>
        <a href="./submit" class="text-xl italic" style="font-family:serif"> Submit </a>
    </div>
    
    <span class="text-white text-6xl absolute left-24 top-32" style="font-family:serif"> Submit to <span class="italic">Dialexicon</span></span>
    <span class="text-white text-xl absolute left-24 top-48" style="font-family:serif"> Wrote a philosophy essay? Publish it in our journal. </span>
    <div class="text-white text-md absolute right-5 bottom-4" style="font-family:serif;">Saint Paul Writing His Epistles, by Valentin de Boulogne, 1618</div>

  </div>
  

  <div class="text-black text-xl mt-10 mx-auto" style="width:1000px">
    <p class="text-black text-xl whitespace-pre-wrap">
        <span class="text-blue-900 text-4xl">What is the <span class="italic">Dialexicon</span> Journal?
        </span>
<span class="italic">
    Dialexicon</span> is a journal that publishes exceptional philosophical essays written by high school students around the world.

We are looking for papers that are 1200 to 1500 words, and make a compelling, original philosophical argument.
Every fall, we release prompts for students to write about, but we also accept papers on any relevant topic.
Typically, we look for papers that approach current events through a philosophical lens, as reflected in our prompts.

If your paper has been accepted for publication, we will contact you by email. Published authors will have their essays 
published online, and are invited to participate in an interview with <span class="italic">Dialexicon</span> about their paper and interest in philosophy.

The top paper will be awarded a $100 prize, and we typically publish 5 to 7 papers each year to <span class="italic">Dialexicon</span>.

If you are interested in submitting, the upcoming Dialexicon Vol. 4 will be opening to submissions in Fall 2024!
  </div>

    <Steps
        title="How Do I Submit My Essay?"
        items={[
        {
            title: 'Step 1: <span class="font-medium">Read over the prompts.</span>',
            description:
            'You can find the <a href="#prompts" class="text-blue-800 font-semibold underline">prompts</a> on our website.',
            icon: 'tabler:package',
        },
        {
            title: 'Step 2: <span class="font-medium">Write a 1200 - 1500 word philosophical essay on one of our prompts (or pick your own!).</em>',
            description:
            'Read our <a href="#guidelines" class="text-blue-800 font-semibold underline">guidelines</a> and see past papers for exemplars.',
            icon: 'tabler:letter-case',
        },
        {
            title: 'Step 3: <span class="font-medium">Email your paper to us.</span>',
            description:
            'Email your paper to <a href="mailto:dialexiconjournal@gmail.com" class="text-blue-800 font-bold underline">dialexiconjournal@gmail.com</a>, with the subject "Dialexicon Submission" and attach this <a href="/resources/submissionform.pdf" class="text-blue-800 font-bold underline">form</a>.',
            icon: 'tabler:paint',
        },
        {
            title: 'Congratulations, your paper is in!',
            icon: 'tabler:check',
        },
        ]}
        image={{
        src: '/images/the-philosophers-master-of-the-judgment-of-solomon.jpg',
        alt: 'Steps image',
        }}
    />

    <div id="guidelines" class="mx-auto" style="width:1000px">
       <h1 class="text-blue-900 text-4xl"> Guidelines for Submitting to <span class="italic">Dialexicon</span></h1>
       <p class="mt-5 text-xl"> We highly recommend reading the following two documents thoroughly before submitting your paper to the journal.</p>
       <div class="flex flex-col gap-2 text-xl mt-5">
        <div> 1. <a href="/resources/dialexicon_essay_guide.pdf" class="text-blue-800 underline underline-offset-2"> Dialexicon's Guide to Writing a Philosophy Essay</a></div>
        <div> 2. <a href="/resources/dialexicon_rubric.pdf" class="text-blue-800 underline underline-offset-2"> Dialexicon's Rubric for Adjudicating Papers </a></div>
       </div>
    </div>

    <div id="prompts" class="mx-auto mt-14" style="width:1000px">
        <h1 class="text-blue-900 text-4xl"> Prompts for <span class="italic">Dialexicon</span> Vol. 4</h1>
        <p class="mt-5 text-xl"> The prompts for the upcoming volume of Dialexicon have not been released yet. Check this website for updates!</p>
     </div>

    <FAQs
        title="Frequently Asked Questions"
        subtitle="Answers to your questions about submitting to the journal & how to get involved."
        tagline="FAQs"
        classes={{ container: 'max-w-6xl' }}
        items={[
        {
            title: 'When will submissions open?',
            description:
            "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
        },
        {
            title: 'Who can submit to the Dialexicon Journal?',
            description:
            'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
        },
        {
            title: 'When will I know the results?',
            description:
            "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more.",
        },
        {
            title: "Who will be adjudicating my paper?",
            description:
            "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
        },
        {
            title: 'Can I answer my own prompt?',
            description:
            "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
        },
        {
            title: 'How do I get involved with Dialexicon?',
            description:
            "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
        },
        ]}
    />
</div>
</Layout>