---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Dialexicon',
  ignoreTitleTemplate: true,
};
---
<body style="background-color:#F9F6EE; background-position:cover; overflow-x:hidden; font-family:'Times New Roman', Times, serif">

<Layout metadata={metadata}>

    <div class="flex flex-row gap-4 absolute right-14 top-10 font-regular text-black">
        <a href="/" class="text-xl hover:italic" style="font-family:serif">Home </a>
        <a href="/about" class="text-xl hover:italic" style="font-family:serif">About </a>
        <a href="/journal" class="text-xl italic" style="font-family:serif"> Journal </a>
        <a href="/submit" class="text-xl hover:italic" style="font-family:serif"> Submit </a>
    </div>

  <div class="mt-14 ml-14" style="max-width:950px">
    <a href="/journal" class="text-blue-900 text-xl whitespace-pre hover:italic"> &#8592; Dialexicon Vol. 4 </a>
  </div>

  <div class="mt-16 ml-32 mr-32" style="">
  <div class="flex flex-col gap-3">
    <h1 class="text-blue-800 text-5xl">The Paradox of Aesthetic Pleasure: The Sublime, The Grotesque, and the Essence of Art</h1>
    <h1 class="text-blue-500 text-4xl italic"> Elena Jordanova </h1>
  </div>
  
  <div class="text-black mr-32 mt-8 text-xl">
    <span class="text-2xl text-blue-800">
      I. Introduction
    </span>
<span>
  <div class="h-4"></div>
Art in every single title given to it, has posed itself as an intrinsic part of humanity’s history and day-to-day life. Noticing the mere inextinguishable role of art, in this essay, I will explore the issue of art and the beauty that "should" be present in it. By transforming the notion of beauty from a mere expectation into a defining characteristic, I aim to address a fundamental question at the heart of both classical and contemporary philosophy: What defines the essence of art—beauty or something else? To engage with this, we must ask: Must a work of art be beautiful to be considered art, or can it, in fact, be ugly and still hold artistic value? If the latter holds true, what is the significance of engaging with art that challenges conventional notions of beauty?To navigate this complex topic, I will divide it into smaller, easily comprehensible segments, guided by three key questions that will form the core of the essay. The questions are as follows:

1) Is it the inability to comprehend, the fear of comprehension, the search for objective definitions, or perhaps a combination of these elements that shapes our perceptions of what is "beautiful" versus what is "hideous," suggesting that these factors collectively influence how we define aesthetic value?
2) What are the criteria for beauty or should something only align with man’s view in order to be considered beautiful “enough”?
3) Can shifting from collectivism to individualism help humanity embrace the entirety of art?
<div class="h-4"></div>
<span class="text-3xl text-blue-800">
  II. The Resistance of Beauty : A Dialogue Between Time & Soul
  </span>
  <div class="h-4"></div>
By trying to foist the aesthetic convictions of our innermost self—whether understood as "soul" in a metaphorical or existential sense—upon another being, non-carrier of our soul, are we not risking a descent into artistic disarray, or even a bellum omnium contra omnes? If we shall define art we shall also delve into the complicity that is defining beauty itself, for to define art is to simultaneously confront the elusive and often paradoxical nature of beauty. However the fast field of accumulated ideas (from antiquity up to the present moment) as to what the word beauty represents besides its mere personification as a being– or more precisely, as an accomplice to being itself, a defining attribute of existence - has reached an inevitable tower of interconnected ideas. One not same to the others, one not alien from the others. The very essence of the concept has undergone a millennia-long quest to in the end be condemned to never reach its “final” destination. That is, however, supposing the definite exists within a subjective concept. I do not consider myself a believer in a such defined “final” destination, for I consider beauty itself is a concept intrinsically linked to time. Despite its relentless persuasion, it remains ever elusive, its new definitions already acquired before we can dismiss any singular understanding of it. It is as if nature has embedded in beauty a kind of resistance to certainty, whispering to us that we are not alone in our confusion—that we are, for once, not exceptional in our blindness. 
<div class="h-4"></div>
However, the mere mention of an existing terminus in the vastness of interpresent art would mean denying the soul’s calling to explore, to create, and to communicate with the origin point of others, as sometimes a simple shift of the kaleidoscope allows us to see and therefore feel someone else’s truth. The confirmation of such harsh objectivity in a world governed by mortal definitions reveals a deep-rooted human paradox: the impulse to rationalize emotion—to feel with the brain—and to sentimentalize reason—to think with the heart. However, the crux of the matter unveils the harsh reality of pre-giving meaning to concepts such as beauty, which we no longer treat as nouns—as fixed entities—but rather as adjectives: fluid, contextual, and temporal. We think of them as subjective value judgments, applied to art and experience alike, that attempt to describe a fleeting perception tied to a specific moment in time.
<div class="h-4"></div>
A work of art need not embody conventional beauty in order to convey a message that will, if comprehended, open the eyes of many toward new frontiers. A work of art can be beautiful and still raise or rather cause a disturbance in the opinion of the public eye, coexisting within the familiarity of chaos. Take, for instance, the y literary legacies of Sappho, Plato’s tenth muse, and her medieval counterpart, Emily Dickinson. Both defied their eras’ rigid doctrines, sparking revolutions in literature that branded them as controversial figures. Their nonconformity, especially against the grain of compulsory heterosexuality, led to their work being deemed “ugly” by a fearful society. This begs the question: who sets these standards, and should they quite frankly exist at all?
<div class="h-4"></div>
<span class="text-2xl text-blue-800">
    III. Self-Imposed Standards as the Demise of Freedom—and of Art
  </span>
  <div class="h-4"></div>
If we have standards by which we would grade if something is beautiful "enough" to be considered a work of art, then we would deny humans the only field where they can express themselves. Imposing rules and additional notions onto art risks imprisoning the human mind by stripping it of the psychological safety that creativity provides. When that safe space vanishes, the mind retreats into instinctual responses—putting it in "fight or flight" mode—not as a literal danger response, but as a symptom of mental constraint and internal conflict. This confinement of creativity not only limits individual expression but also stifles the evolution and diversity of artistic forms and ideas. Therefore, how can we cast chains upon art while keeping the mass in the shadows? 
<div class="h-4"></div>
The answer lies within the cursive letters of a page penned by the literary master Fyodor Dostoevsky, who suggested that the most effective way to limit self-expression is by "serving it cold." In his novel "The Brothers Karamazov" he declares: "The best way to keep a prisoner from escaping is to make sure he never knows he is in prison".
<div class="h-4"></div>
Daily propaganda bombards us with seemingly contradictory ideas that serve to confuse and control. The media—because of its unparalleled power, global reach, and constant presence in our lives—plays a uniquely decisive role in limiting the scope of artistic freedom. It crafts a scarcity of options, shaping beliefs to keep people complacent. Media doesn't just report on culture—it actively shapes it. Its influence is not distant or occasional; it is intimate, even intrusive—always with us, even in our most vulnerable states, like the phone glowing silently on the nightstand beside our bed as we sleep. As George Orwell once wrote, “All propaganda is lies even when one is telling the truth. I don't think this matters so long as one knows what he's doing and why.” This manipulation limits individual capabilities and stifles potential revolutions. Backed by political and economic interests that benefit from stability and mass conformity, by trapping intellectuals, the media leaves behind a populace conditioned to follow pre-established doctrines. Those who deviate are labeled enemies, their concepts discarded for not aligning with the majority. This ensures a compliant society, preventing dissent and maintaining control.
<div class="h-4"></div>
Therefore, I come to the main point: what is often presented as expanding the concepts of beauty is, in truth, a carefully veiled limitation of them. This expansion is an illusion—engineered to momentarily gain approval from minority voices (as forementioned), only to later retreat under the pretext of public rejection. It is a deliberate cycle of inclusion and exclusion, governed by double standards and manipulated through time itself: progress is claimed when convenient, delayed when inconvenient. Time becomes a tool of control—used not to evolve beauty, but to distort it, making retreat look like adaptation. As a result, art is reduced to a one-sided embodiment of culture, aligning with the simplicity of the complexity of our brains. For us, it becomes easier to classify—or entirely dismiss—a work of art as ugly when it confronts us with standards too broad, too complex, or too unfamiliar for our liking.
<div class="h-4"></div>
<span class="text-2xl text-blue-800">
    IV. The Illusion of Ugliness: Rediscovering Meaning in Misunderstood Art
  </span>
  <div class="h-4"></div>
Moving to the second part of the question: "If the latter is possible, why should we take interest in it?" The question's deontic nature is its first flaw. Rephrasing it to "How would we benefit from taking an interest in 'ugly' art?" shifts focus to the subjective thinker, aligning with Oscar Wilde's "Art for art’s sake."
The term "ugly"  itself is misleading, it’s nothing more than a myriad illusion, as art deemed "ugly" often reflects a failure to grasp its essence due to incompetence or in some cases fear of the message the art itself wants to portray to the willing. In art, the term 'ugly' does not denote an aesthetic failure, but signifies elements capable of producing discomfort, shock, or a challenge to internal truths-whether moral, psychological, or existential. What is usually referred to as 'ugly' perhaps just shows that the viewer is too afraid to confront his or her own shadow, for the results capture flaws humanly in oil, in words, or in sound.
Art should be seen not as a door or window but as a mirror reflecting the artist's ideas and emotions. This mirror's magic lies in its ability to alter perceptions based on the beholder's self-perception. Art thrives on individual subjectivity; its portrayal weakens under the weight of collective objectivity. If faced with the utter objectivity of the crowd, art would face its downfall, which is why expanding a concept too broadly across interpretations diminishes the clarity and impact of its core meaning—the broader the conceptual reach, the weaker its expressive strength.
<div class="h-4"></div>
Furthermore, even if the danger that is objectivity is cleared, art would still face challenges if its spectator (meaning viewer, reader, listener, etc.) suffers from the inability to grasp the depths of meaning engraved into it. No work of art can be fully embodied by the singularity of senses, nor consequently by its binary. The essence of the artwork—its cause—can only be fully grasped through a synthesis of sensory engagement and emotional resonance, a unity of all senses. as illustrated by the master of Renaissance philosophy and art, Leonardo Da Vinci: “Painting is poetry that is seen rather than felt, and poetry is a painting that is felt rather than seen” (Clark, 1988, p. 102).
<div class="h-4"></div>
<span class="text-2xl text-blue-800">
    V. The Lie That Tells the Truth: Art as a Paradox of Perception
  </span>
  <div class="h-4"></div>
So can we grasp the fullness of art, by simply escaping the mass and following our own individual reasoning? I’d say absolutely, but only if we are able to find common ground between reason and feelings, and stay on the thin line separating them. Indeed, as French writer and literary critic Guillaume Musso himself denounces across the epitome of his writing career, “nothing has ever and will ever unveil such sisterhood to the truth as will the sword of her sworn enemy – the lie.” It is this captivating paradox that maintains the dialectic tension between any semblance of truth and blatant illusion, and thus becomes the defining essence of art itself: it is not "truth" in a straightforward sense that art exposes, but rather truth through metaphor, distortion and even deception. In order to comprehend art, one must be prepared to use both logical reasoning and intuitive awareness - recognizing that sometimes, it is only through confronting the artificial or the ‘untrue’ that we come closer to the real.
<div class="h-4"></div>
And perhaps this is precisely where the tragedy of perception lies. For no one shows - and will ever show - such blind surrender to falsehood than he who is entangled within the single dimension of reality, hence the moment a situation is perceived as the sole possibility in the vast expanse of existence, it gains the power of cognitive recognition and is interpreted by the brain as reality, and thus becomes reality as a consequence of human perception. Humans showcase a tendency to seek certainty in the face of ambiguity, as for the brain any answer is preferable to no answer. We, humans, tend to feel enormous discomfort when accumulating what we register as “insufficient data”, so our brains try to invent data – creating myriad philosophies, stories, and assumptions to reassure us that there is, in fact, an order and structure to the world we've endeavored to call our own.
<div class="h-4"></div>
<span class="text-3xl text-blue-800"> 
  VI. Conclusion
</span>
<div class="h-4"></div>
Art was and is not created for us, it is created by us to touch us. Its purpose is not to be dictated, but to be discovered. Thus, the question is not whether we are meant to follow or lead within the artistic realm, but whether we can transcend both roles altogether. For to be a leader presupposes the existence of followers—and both positions are bound by hierarchy, by fixed interpretation. True engagement with art requires something else entirely: not leadership, not obedience, but presence. A presence that dares to interpret, misinterpret, and re-interpret endlessly. Thus, it is not about making art for consumption by others, or interpreting art according to tradition, it is about liberating both the creator and the beholder from predefined roles.
Ultimately, it all comes back to our roots as Protagoras of Abdera said: “Of all things the measure is Man, of the things that are, that they are, and of the things that are not, that they are not” (Protagoras, 5th century BCE, p. 45). It’s on us to escape the norms of the majority and the forming of definitions, to measure things for ourselves and enjoy even what’s in the eyes of others the “hideousness of beauty”.
<div class="h-4"></div>
  <span class="text-2xl text-blue-800"> 
    VII. Bibliography
  </span>
  <div class="h-4"></div>
  Clark, K. (1988). Painting is poetry that is seen rather than felt, and poetry is a painting that is felt rather than seen, p. 102.
  Available from: https://archive.org/details/leonardodavinci0000kenn/page/n259/mode/2up
  <div class="h-4"></div>
  Fine, Z. (2023). The art of ugliness. 
  Available from: https://thepointmag.com/criticism/the-art-of-ugliness/
  <div class="h-4"></div>
  Hicks, S. R. C. (2004). Why Art Became Ugly, Navigator 6 (10).
  Available from: https://philarchive.org/rec/HICWAB
  <div class="h-4"></div>
  Pickford, R. W. (1969). The psychology of ugliness. British Journal of Aesthetics, 9(3), 258–270. Available from: https://academic.oup.com/bjaesthetics/article-lookup/doi/10.1093/bjaesthetics/9.3.258
  <div class="h-4"></div>
  Orwell, G. (1946). Politics and the English Language. Horizon. Available at: https://en.wikipedia.org/wiki/Politics_and_the_English_Language
  <div class="h-4"></div>
  Protagoras (5th century BCE). Fragments, translated by W.K.C. Guthrie. In Socratic Philosophers, p. 45.
  <div class="h-4"></div>
  Jesudas, R. (2024). Exploring the interplay of beauty: Shelley’s and Dickinson’s poems through Mead’s theoretical framework. Journal of Contemporary English Language and Literature, 4(2), 192–210. 
  Available from: https://journal.jcopublishing.com/index.php/jcell/article/view/341
  <div class="h-4"></div>
  Zellner, H. (2007). Sappho's Alleged Proof of Aesthetic Relativity. Greek, Roman and Byzantine Studies, 47, 47–70. Available from: https://www.researchgate.net/publication/265180450_Sappho's_Alleged_Proof_of_Aesthetic_Relativity
  </div>

</Layout>