---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Dialexicon',
  ignoreTitleTemplate: true,
};
---
<body style="background-color:#F9F6EE; background-position:cover; overflow-x:hidden; font-family:'Times New Roman', Times, serif">

<Layout metadata={metadata}>

    <div class="flex flex-row gap-4 absolute right-14 top-10 font-regular text-black">
        <a href="/" class="text-xl hover:italic" style="font-family:serif">Home </a>
        <a href="/about" class="text-xl hover:italic" style="font-family:serif">About </a>
        <a href="/journal" class="text-xl italic" style="font-family:serif"> Journal </a>
        <a href="/submit" class="text-xl hover:italic" style="font-family:serif"> Submit </a>
    </div>

  <div class="mt-14 ml-14" style="max-width:950px">
    <a href="/journal" class="text-blue-900 text-xl whitespace-pre hover:italic"> &#8592; Dialexicon Vol. 4 </a>
  </div>

  <div class="mt-16 ml-32 mr-32" style="">
  <div class="flex flex-col gap-3">
    <h1 class="text-blue-800 text-5xl">Epistemology of Morality</h1>
    <h1 class="text-blue-500 text-4xl italic"> JeongWoo You </h1>
  </div>
  
  <div class="text-black mr-32 mt-8 text-xl">
    <span class="text-2xl text-blue-800">
      I. Introduction
    </span>
<span>
<div class="h-4"></div>
Ever since the earliest record of civilization, morality has been fundamental to humanity. No matter what culture or era one lived in, morality provided the foundation of value for society by enabling a shared value system within individuals. Yet, there seems to exist some differences in the forms of morality across various cultures and societies, which scholars study these days. In this essay, the writer attempts to illuminate the epistemology of morality by discussing the controversy of absolute or relative morality, as an extended exigency.
<div class="h-4"></div>

<span class="text-2xl text-blue-800">II. What is Morality?
  </span>
<div class="h-4"></div>
To evaluate the absolute and relative nature of morality, we need to first evaluate the definition of morality. Most fundamentally, morality is right and wrong. Here, absolute morality is right and wrong regardless of the situation, while relative morality is right and wrong with regard to the situation. In simple terms, the absolute and relative nature of morality concerns whether or not it is dependent upon contextual factors. Meanwhile, amorality is the absence or irrelevance of right and wrong. 
<div class="h-4"></div>
To understand the foundation for the characteristics of morality, we need to further investigate the origin and precondition thereof. Theoretically, the most fundamental origin of morality is life. Had morality not sustained the survival of human beings, it would never have existed in the beginning, as there would have been no living being to fulfill or fail the morality. Importantly, to live is to withstand the demand of reality. This means that the living beings that match the demand of reality are more likely to live. Such a necessary precondition of survival in the face of reality’s selectivity suggests the absolute nature of morality, as there is right and wrong with regard to survival at the very least. 
<div class="h-4"></div>
To complete the definition of morality, human beings yet, live in relationship with others and are greatly dependent upon society, which is a critical factor in individuals’ survival. Oftentimes, the degree of value for society versus individual in individuals’ lives is such that the conformity to society at the expense of individual advantage is significantly beneficial in the long term. Evolutionally, such importance of society for individuals is consolidated in the neurological evidence of conscience, whose primary characteristic is to evoke a sense of guilt and shame, sometimes, disadvantageous to the interest of the individual’s immediate benefit. As such, after the evolutionary neurological adaptation, the sense of morality became heuristically innate to individuals. Under such a universal logic and convergent inheritance, humans, for better or worse, resulted in the shared sense of morality, whose mutual exchange manifests in the form of social and cultural norms, which socially moderate individuals’ behaviors through mutual reinforcement, spanning from daily interpersonal interaction to socially consented laws. To summarize, individuals’ behaviors are moderated inwardly by conscience and outwardly by social interaction. As such, the shared sense of morality, universal to human beings, is neither arbitrary nor baseless, as it is deeply relevant to the condition of survival and reality based upon social situations. The purpose of morality precedes its existence. In other words, morality is fundamental to reality, as physics or mathematics are.
<div class="h-4"></div>

<span class="text-2xl text-blue-800">
    III. Epistemology of Morality
  </span>
  <div class="h-4"></div>
If morality is fundamental to reality, it should exist as an order with complete epistemology. To further investigate, we must illuminate the fundamental attributes of morality from its preconditions. Fundamentally, morality is social because it is a set of principles that originated from the natural order of social selection in reality. As explained previously, society has been fundamental to an individual’s survival, and interactions were to be moderated through order that promotes cooperation and coexistence, despite the short-term benefit of individuals. This means that morality is objective because, over time through evolution, such a need for order within society developed into a synchronized conscience, whose judgment is commonly binding within all individuals. This means that morality is judgmental because its origin lies in judging the members of society with certain consequences. To summarize, morality is social, objective, and judgmental.
<div class="h-4"></div>
Such objectivity of morality yet creates a serious ramification: a criterion that is not objective is out of moral scope. For example, morality is neither a matter of virtue ethics nor practicality. This is because virtue ethics concerns the subjective or individualistic interpretation of how things should be, which differs from the objective standard of morality. Similarly, practicality concerns the intellectual intervention of the utilitarian standard, whose ground of utility is by no means a common origin. 
<div class="h-4"></div>
If morality is social, objective, and judgmental in its nature, it means that the moral standard consists of absolute values that promote cooperation and coexistence, which effectively judge human behaviors. The following is an incomplete theoretical approximation that represents the hierarchy of moral values in opposite polarity: Spirit of Good, Spirit of Love, Spirit of Creation, Spirit of Sacrifice, Spirit of Humility, Spirit of Gratitude, Spirit of Protection, Spirit of Autonomy, Spirit of Justice, Spirit of Negligence, Spirit of Selfishness, Spirit of Pride, Spirit of Betrayal, Spirit of Destruction, Spirit of Hate, Spirit of Evil;
<div class="h-4"></div>
Each value at opposite ends forms an antithetical conjugate. At each of the extremes, there exist moral generals: Spirit of Good and Spirit of Evil. Here, the Spirit of Good is the ultimate abstraction that promotes cooperation and coexistence, while the Spirit of Evil is the ultimate abstraction that sabotages them. 
<div class="h-4"></div>
Here, it is paramount to understand that the ultimate motivation for the Spirit of Good and Spirit of Evil is the Spirit of Love and Spirit of Hate, respectively. This contains an important implication that the idea of Good and Evil cannot exist independently from society, since morality is founded upon the principle of cooperation and coexistence. In other words, a moral act should be acted upon or judged by another human being to be within the moral scope. This is different from virtue ethics or intellectual ideologies, which do not require a social relationship to be recognized or judged for its value. Therefore, there is a significant difference between being irtuous and being virtuous to someone for its moral value. Hence, Spirit of Love and Spirit of Hate are the active social components toward others at each end of the spectrum.
<div class="h-4"></div>
Beyond morality, however, the Spirit of Love and Spirit of Hate suggest yet another implication in the realm of ontology that conveys fundamental truth beyond the limitation of survival, yet within the scope of society. As explained before, evolutionary speaking, the exigency of morality has been an individual’s survival dependent upon society in the beginning. However, the ultimate product of the human psyche summons a higher ontological foundation for morality, greater than that of survival or conscience, negative reinforcers. That is, beyond life and death, the need and positive pursuit of love and company. In other words, a human, or any theoretical conscious being that fundamentally conceptualizes the world with regard to relationship, through language or other interactive media, requires another being that understands, sympathizes, and acknowledges one’s value, beyond the transactional exchange, through social-emotional interaction. This is because the world without relationships seems meaningless, as there is no true and reliable recognition of one’s action, value, and existence without someone to do it. Even the recognition of oneself is not enough because it is fallible to one’s self-image and bias, while others give accounts that are independent of that. Therefore, a being that fundamentally recognizes the world with regard to relationship necessitates other beings to have genuine social relationships. Such is done through mutual and spontaneous giving and receiving, at a psychological level, between two or more entities because mutuality assumes a genuine connection, and spontaneity assumes people’s value independent from the transactional exchange. With that, it is understandable that other conjugates in the hierarchy of morality are fundamentally social.
<div class="h-4"></div>

<span class="text-2xl text-blue-800"> 
  VI. Conclusion
</span>
<div class="h-4"></div>
In conclusion, morality is fundamental, absolute, social, objective, and epistemologically complete, as human beings are fundamentally social from an evolutionary, philosophical, and ontological perspective: survival, conscience, and love. 
</div>

</Layout>